services:
  backend:
    build: ./backend
    container_name: clinic-backend
    ports:
      - "8000:8000"
    env_file:
      - backend/.env
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: clinic-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
